.cabecalho{
    height: 100vh;
    background-image: linear-gradient(var(--branco) 50%, var(--cor-font-cabecalho));
}

.cabecalho__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background-color: var(--fundo-cabecalho);
}

.c__menu__titulo{
    width: 7%;
}

.c__m__menu{
    display: flex;
    gap: 1rem;
}

.c__m__menu a{
    border: 1px solid var(--cor-font-cabecalho);
    color: var(--cor-font-cabecalho);
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
}

.cabecalho__pub{
    height: 845px;
    background-image: url(../img/HeroImage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.c__p__publicacao{
    padding: 10rem 9.5rem;
}

.c__p__publicacao h2{
    font-size: 5rem;
    margin: 0;
    font-weight: bold;
}

.c__p__publicacao a{
    background-color: var(--cor-font-cabecalho);
    padding: .8rem 2rem;
    margin-top: 1.5rem;
    display: block;
    width: fit-content;
    border-radius: 5px;
    color: var(--fundo-cabecalho);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}